body{
    font-family: 'Montserrat', sans-serif;
}

header{
    background: #555555;   
}
.cabeca{
    padding-top: 30px;
    padding-left: 40px;
}
.titulo-cabeca{
    font-size: 35px ;
    display: inline;
    font-weight: bolder;

}

.titulo-cabeca:hover{
    color: rgba(202, 202, 202, 0.733)
}
nav{
    position: absolute;
    top: 40px;
    margin-left: 79%  ;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a{
    text-transform: uppercase;
    color: #000;
    font-weight: bolder;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover{
    color: rgba(202, 202, 202, 0.733)
}

.apresentacao{
    background: linear-gradient(#555555, #bbbbbb);
    padding: 3em 0;
    margin: 0 auto;
}

.titulo-apresentacao{
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    clear: left;
    
}

.texto{
    margin: 0 0 1em;
    text-align: CENTER;
    font-size: 1.5em;
    
}

.cursos{
    width: 500px;
    margin: 10px 142px 10px 10px;
    
}

em strong{
    font-weight: bolder; 
}

footer{
    background: url("bg.jpg");
    text-align: center;
    padding: 40px 0;
}

.copyright  {
    color: rgb(255, 255, 255);
    font-size: 13px;
    margin-top: 20px;
}